---
title: Podcasts
layout: layouts/base.njk
description: The ones that I consistently want to listen to whenever a new episode shows up in my feed
eleventyNavigation:
  key: Podcasts
  parent: Favorites
  order: 1
---

<h2>Favorite podcasts</h2>

{% set faves = collections.podcasts %}

<ul id="podcasts" class="favelist">
  {% for fave in faves | reverse %}
  <li class="mb-8 sm:text-lg">
    <a href="{{ fave.data.url }}">{{ fave.data.title }}</a>
    {{ fave.templateContent | safe }}
  </li>
  {% endfor %}
</ul>
