# dependecies installed by npm
node_modules
web_modules

# build artefacts
.build
build
dist

# secrets
.env

# logs
*.log
report.html

# macOS related files
.DS_Store

# version manager
.tool-versions

# Local Netlify folder
.netlify
