@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/Inter-roman.var.woff2?v=3.15') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter var';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/Inter-italic.var.woff2?v=3.15') format('woff2');
  }
}

@layer components {
  .canvas-confetti {
    @apply block max-w-full;

    height: 420px;
    width: 720px;
  }
}
