@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

/* @font-face {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Jost-Medium.ttf') format('truetype');
} */

/* @font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/Bitter-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Bitter-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Bitter-Regular.ttf') format('truetype');
} */

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/Bitter-VariableFont_wght.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost', sans-serif;
}

main > h2 {
  @apply mb-8 text-2xl sm:text-3xl;
}

p a,
li a {
  @apply px-px border-b-2 border-yellow-500 border-dotted hover:rounded-sm hover:border-0 hover:bg-yellow-500 hover:text-gray-50 dark:hover:bg-yellow-600;
}

p#nav-pages a {
  @apply inline-flex items-center pt-1 border-b-2 text-sm font-medium hover:bg-transparent border-solid hover:text-current;
}

footer a {
  @apply text-gray-400 hover:text-gray-500 dark:hover:text-gray-200;
}

ol#work {
  display: table;
}

ol#work > li {
  display: table-row;
  height: 4rem;
  margin: 1.5rem 0;
}

ol#work > li::before {
  content: attr(seq);
  display: table-cell;

  /* width: 4.5rem; */
}

@media (min-width: 768px) {
  ol#work > li {
    height: 3rem;
  }
}
