<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "../components/head.njk" %}
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/styles/index.css" />
		<script type="module" src="/scripts/index.js" defer></script>
	</head>
	<body class="grid max-w-2xl min-h-screen grid-cols-1 px-6 grid-rows-layout sm:px-12 sm:mx-auto md:px-0 dark:bg-gray-800 dark:text-gray-50">
			{% include "../components/navigation.njk" %}
			<main class="">
				{{ content | safe }}
			</main>
			{% include "../components/footer.njk" %}
		</div>
	</body>
</html>
