{% layout 'base.html' %}

{% block content %}
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-10">
    <h2
      class="mt-2 mb-8 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl sm:leading-10"
    >
      {{ intro.title }}
    </h2>

    <p class="text-xl text-gray-700 leading-8 mb-8">
      {{ intro.desc }}
    </p>

    <div class="border border-gray-100 rounded shadow">
      <canvas id="canvas" class="canvas-confetti"></canvas>
    </div>
  </div>
</section>

{% include "partials/cta.html" cta: primaryCTA %}
{% endblock %}
