<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% include "partials/meta-info.html" %}

    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body class="min-h-screen bg-gray-100">
    <div class="min-h-screen max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 bg-white">
      {% include "partials/site-head.html" %}

      <main id="main-content" class="max-w-3xl mx-auto" tabindex="-1">
        {% block content %}{% endblock %}
      </main>
    </div>

    <script type="module" src="/_dist_/index.js"></script>
  </body>
</html>
