---
title: Books
layout: layouts/base.njk
permalink: /books/
eleventyNavigation:
  key: Books
  order: 2
---

<h2>Book notes and recommendations</h2>
<p>
	I'm in the process of moving some favorite quotes, notes, and recommendations
	over from
	<a href="https://www.goodreads.com/user/show/3744922-matt-lehrer">Goodreads</a
	>. All of my reviews are there for now. My
	<a
		href="https://www.goodreads.com/review/list/3744922-matt-lehrer?shelf=top-ten"
		>top 10 list</a
	>
	might be a great place to start.
</p>
