---
title: Favorites
layout: layouts/base.njk
permalink: /favorites/
eleventyNavigation:
  key: Favorites
  order: 3
---

<h2>Recommendations in everything</h2>

<h3>Podcasts</h3>
<p>I listen to a lot of podcasts. I'll post my favorites soon.</p>
