---
title: Podcasts
layout: layouts/base.njk
permalink: /podcasts/
eleventyNavigation:
  key: Podcasts
  order: 3
---

<h2>Podcast recommendations</h2>
<p>I listen to a lot of podcasts. I'll post my favorites soon.</p>
