---
title: Work
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 0
---

<h2>Work and project history</h2>

<ol id="work" class="space-y-4 text-sm list-none list-outside sm:text-base">
  <li seq="21-&nbsp;&nbsp;&nbsp;•&nbsp;">
    <span class="font-sans">
      Current Position <span class="text-base sm:text-lg text-mono">•</span> <a
        href="https://www.example.com"
        >Where you work now</a
      >
    </span>
  </li>
  <li seq="18-20 •&nbsp;">
    Former position
    <span class="text-base sm:text-lg text-mono">•</span> <a
      href="https://www.example.com/"
      >Where you worked before</a
    >
    (edit in src/pages/work.njk)
  </li>
</ol>
