---
title: Work
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 0
---

<h2>Work and project history</h2>

<ol
	id="work"
	class="space-y-4 font-mono text-sm list-none list-outside sm:text-base"
>
	<li seq="21-&nbsp;&nbsp;&nbsp;•&nbsp;">
		Founder • <a href="https://www.quicksilvercre.com">Quicksilver CRE</a>
	</li>
	<li seq="20-20 •&nbsp;">
		Volunteer business coach • <a href="https://www.venturesnonprofit.org/"
			>Ventures</a
		>
	</li>
	<li seq="20-20 •&nbsp;">
		Developer • <a href="https://github.com/mattlehrer/itsdifferent"
			>It's Different This Time</a
		>
	</li>
	<li seq="19-20 •&nbsp;">
		Freelance financial strategy and operations consulting
	</li>
	<li seq="19-20 •&nbsp;">
		Developer • <a href="https://github.com/mattlehrer/echopig">Echopig</a>
	</li>
	<li seq="17-19 •&nbsp;">
		Finance & business operations • <a href="http://www.losthorsesupply.com"
			>Lost Horse Supply Co.</a
		>
	</li>
	<li seq="14-16 •&nbsp;">
		Strategist, emerging technologies • <a href="https://www.ipglab.com"
			>IPG Media Lab</a
		>
	</li>
	<li seq="11-13 •&nbsp;">
		Finance & business operations • <a href="https://www.tumblr.com"
			>Tumblr, Inc.</a
		>
	</li>
	<li seq="10-11 •&nbsp;">Freelance financial strategy consulting</li>
	<li seq="10-10 •&nbsp;">
		Finance & analytics • <a href="https://www.anyclip.com">AnyClip</a>
	</li>
	<li seq="08-09 •&nbsp;">
		Investment consultant • <a href="https://www.europac.com"
			>Euro Pacific Capital</a
		>
	</li>
	<li seq="05-07 •&nbsp;">
		CRE investment analysis • <a href="https://www.pantheonproperties.com"
			>Pantheon Properties</a
		>
	</li>
	<li seq="03-05 •&nbsp;">
		Financial & market analysis • <a href="https://www.gtlaw.com"
			>GT Advisory Co.</a
		>
	</li>
</ol>
