---
layout: default
title: 11ty + Snowpack + tailwind starter kit
---

<p class="flex flex-auto items-center justify-center overflow-hidden mb-6">
  <canvas id="canvas"></canvas>
</p>

<a href="/about">
  About Page
</a>

<script type="module" src="/_dist_/index.js"></script>
