---
layout: default
title: 11ty + Snowpack + tailwind starter kit
---

<div class="flex flex-auto items-center justify-center overflow-hidden mb-4">
  <canvas id="canvas"></canvas>
</div>

<a href="/about" class="text-gray-500 underline">
  About Page
</a>

<script type="module" src="/_dist_/index.js"></script>
