<article class="mb-8">
  <div class="bg-gray-900 text-gray-100 p-4">
    <h2
      class="text-2xl leading-8 font-extrabold tracking-tight sm:text-3xl sm:leading-9"
    >
      {{ cta.title }}
    </h2>
    <p class="mt-3 text-lg leading-7">{{ cta.summary }}</p>
    <div class="mt-3 text-right">
      <a
        href="{{ cta.buttonUrl }}"
        class="inline-flex items-center px-4 py-2 border border-gray-300 text-base leading-6 font-medium rounded-md text-gray-700 uppercase bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-100 transition ease-in-out duration-150"
      >
        {{ cta.buttonText }}
      </a>
    </div>
  </div>
</article>
