<nav
  x-description="Mobile menu, toggle classes based on menu state."
  x-state:on="Menu open"
  x-state:off="Menu closed"
  :class="{ 'block': open, 'hidden': !open }"
  class="sm:hidden"
>
  <ul class="pt-2 pb-3">
    {% for item in navigation.items %} {% if item.url == page.url %} {%
    assign highlight = 'border-gray-500 text-gray-800 bg-gray-100
    focus:text-gray-900 focus:bg-gray-100 focus:border-gray-700' %} {%
    assign current = 'aria-current="page"' %} {% else %} {% assign highlight
    = 'border-transparent text-gray-700 hover:text-gray-800
    hover:bg-gray-100 hover:border-gray-500 focus:text-gray-800
    focus:bg-gray-100 focus:border-gray-500' %} {% assign current = '' %} {%
    endif %}
    <li>
      <a
        href="{{ item.url }}"
        class="block pl-3 pr-4 py-2 border-l-4 text-lg leading-normal font-medium focus:outline-none transition duration-150 ease-in-out {{ highlight }}"
        {{
        current
        }}
      >
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
